
<%- include('shared/header.ejs') %> 



<div class="cover">

</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 ">
            <div class="person card pb-5 px-5  text-center">
                <img src="/images/man.jpg" width="250" alt="">
            </div>
        </div>
        <div class="col-md-8 pt-4">
            <h2><%= profile.full_name %></h2>
            <h4 class="text-muted">@<%= profile.username %></h4>

            
            <% for( let i = 0; i < posts.length; i++ ) { %>
                <div class="post card p-4 auto">
                    <div class="post">
                        <a href="/profile/<%= posts[i].user.username %>" class="d-block text-dark">
                            <div class="media">
                                <img src="/images/man.jpg" width="60" class="mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0"><%= posts[i].user.first_name + ' ' + posts[i].user.last_name %></h5>
                                    <%= calculateTimeSince(posts[i].created_at) %>
                                </div>
                            </div>
                        </a>
                        <hr>
                        <h3><%= posts[i].title %></h3>
                        <p class="pt-1 mb-0"><%= posts[i].text %></p>
                    </div>
                </div>
            <% } %>
            
        </div>
    </div>
</div>


<%- include('shared/footer.ejs') %> 